.story {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 120px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 10px;
}

.story:hover {
    transform: scale(1.03);
}

.story-avatar {
    margin: 10px;
    border: 5px solid #2e81f4;
}

.story>h4 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
}